<div class="row sliderBox">
  <div class="col-12 heading">
    <span>You may be also intrested in</span>
  </div>
 
  <carousel [interval]="false" > 
      <slide  >
        <div class="row slider">
          <div class="col-sm-2 col-lg-2 col-xl-1 col-2">
            
          </div>
          <div  class="col-sm-2  col-lg-2 col-xl-1 col-4">
              <img src="assets/img/fridge200.jpg" alt="First slide" style="display: block; width: 100%; border:0px;" >    
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p>
          </div>
          <div  class="col-sm-2 col-lg-2 col-xl-1 col-4">
              <img src="assets/img/fridge200.jpg" alt="First slide" style="display: block; width: 100%; border:0px;">   
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p> 
          </div>
          <div  class="col-2 col-xl-1 col-lg-2 hidden-xs-down visible">
              <img src="assets/img/fridge200.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p>
          </div>
           <div  class="col-2 col-xl-1 col-lg-2 hidden-xs-down visible">
              <img src="assets/img/fridge200.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p>
          </div>
          <div  class="col-2  col-xl-1 col-lg-2  hidden-lg-down  hidden-xs-down visible">
              <img src="assets/img/fridge200.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p>
          </div>
          <div  class="col-2 col-xl-1 col-lg-2  hidden-lg-down  hidden-xs-down visible">
              <img src="assets/img/fridge200.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p>
          </div>
          <div  class="col-2 col-xl-1 col-lg-2  hidden-lg-down  hidden-xs-down visible">
              <img src="assets/img/fridge200.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p>
          </div>
          <div  class="col-2 col-xl-1 col-lg-2  hidden-lg-down  hidden-xs-down visible">
              <img src="assets/img/fridge200.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p>
          </div>
          <div  class="col-2 col-xl-1 hidden-lg-down visible">
              <img src="assets/img/fridge200.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
              <p class="alignCenter">Fridge 10ltr</p>
              <p class="alignCenter">Rs 2000</p>
          </div>
          <div  class="col-2 col-xl-1 hidden-lg-down visible">
          </div>
        </div>
      </slide>
      <slide >
          <div class="row">
              <div class="col-sm-2 col-lg-2 col-xl-1 col-4">
                
              </div>
              <div  class="col-sm-2  col-lg-2 col-xl-1 col-4">
                  <img src="assets/img/fridge300.jpg" alt="First slide" style="display: block; width: 100%; border:0px;" >    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
              <div  class="col-sm-2 col-lg-2 col-xl-1 col-4">
                  <img src="assets/img/fridge300.jpg" alt="First slide" style="display: block; width: 100%; border:0px;">   
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p> 
              </div>
              <div  class="col-2 col-xl-1 col-lg-2 hidden-xs-down visible">
                  <img src="assets/img/fridge300.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
               <div  class="col-2 col-xl-1 col-lg-2 hidden-xs-down visible">
                  <img src="assets/img/fridge300.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
              <div  class="col-2  col-xl-1 col-lg-2 hidden-lg-down   hidden-xs-down visible">
                  <img src="assets/img/fridge300.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
              <div  class="col-2 col-xl-1 col-lg-2  hidden-lg-down  hidden-xs-down visible">
                  <img src="assets/img/fridge300.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
              <div  class="col-2 col-xl-1 col-lg-2  hidden-lg-down  hidden-xs-down visible">
                  <img src="assets/img/fridge300.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
              <div  class="col-2 col-xl-1 col-lg-2  hidden-lg-down  hidden-xs-down visible">
                  <img src="assets/img/fridge300.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
              <div  class="col-2 col-xl-1 hidden-lg-down visible">
                  <img src="assets/img/fridge300.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
              <div  class="col-2 col-xl-1 hidden-lg-down visible">
                  <img src="assets/img/fridge300.jpg" alt="First slide"  style="display: block; width: 100%; border:0px;">    
                  <p class="alignCenter">Fridge 10ltr</p>
                  <p class="alignCenter">Rs 2000</p>
              </div>
            </div>
      </slide>
    </carousel>
</div>
