.container{
    background-color: white;
    padding: 0;
}

#headingSection{
    width: 100%;
    text-align: center;
    background-color: mediumpurple;
    color: white;
    height: 5%;
}
#vaforms{ margin: 2%;  margin-left: 5%;}

.formItems{ width: 300px; }

#subbtn{  margin: 20px; background-color: orangered; width: 25%;}

.form-control{ border:none }

header{ text-align: center; background: #e97300;color: white;padding: 2px; }
