<div class="alert alert-success" role="alert" [hidden]="isSuccess">
      <strong>Success!</strong> {{successMsg}}
</div>

<div class="alert alert-danger" role="alert" [hidden]="isError">
    <strong>Warning!</strong> {{errorMsg}}
</div>

<h1 class="page-title">Discount</h1>
<div class="button-row buttonposition"> 
  <button class="mb10" mat-raised-button color="warn" routerLink="../product-discount">Back</button>
</div>
<section class="widget">
  <header>
    <h4>New Discount List</h4> 
  </header>  
  <div class="widget-body pt-4">
    <form class="example-form" [formGroup]="priceListForm">
      <div class="col-md-8 col-sm-12 m-auto">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- <mat-form-field class="example-full-width">
              <input type="text" matInput [formControl]="product" [matAutocomplete]="auto" placeholder="Product" required>
              <mat-error *ngIf="!product.valid && product.touched">Product Required</mat-error>
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
           </mat-autocomplete> -->
            <mat-form-field class="example-full-width">              
              <mat-select type="text" matInput [formControl]="productId" placeholder="Product" required> 
                <mat-option *ngFor="let product of productArray" [value]="product.productId._id">{{product.productId.txtProductName}}</mat-option>
              </mat-select>  
              <mat-error *ngIf="!productId.valid && productId.touched">Product Required</mat-error>
            </mat-form-field>   
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <!-- <mat-form-field class="example-full-width">
              <input type="text" matInput [formControl]="customerGroupId" [matAutocomplete]="auto" placeholder="Customer Group" required>
              <mat-error *ngIf="!customerGroupId.valid && customerGroupId.touched">Customer Group Required</mat-error>
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
            </mat-autocomplete> -->
            <mat-form-field class="example-full-width">              
              <mat-select type="text" matInput [formControl]="customerGroupId" placeholder="Customer Group" required> 
                <mat-option *ngFor="let customerGroup of customerGroupArray" [value]="customerGroup._id">{{customerGroup.name}}</mat-option>
              </mat-select>  
              <mat-error *ngIf="!customerGroupId.valid && customerGroupId.touched">Customer Group Required</mat-error>
            </mat-form-field> 
          </div>
        </div>
         
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
                <input matInput min="0" (keypress)="keyPress($event)" onpaste="return false;" placeholder="Discount (%)" formControlName="discount"  pattern="[0-9]*" required>
                <mat-error *ngIf="!discount.valid && discount.touched">Discount Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
           <mat-form-field class="example-full-width">
                <input matInput placeholder="Minumum order" min="0" (keypress)="keyPress($event)" onpaste="return false;" formControlName="minimumOrder" required>
                <mat-error *ngIf="!minimumOrder.valid && minimumOrder.touched">Minimum Order Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="startDate" [min]="minDate" placeholder="Start date" formControlName="start_date" required>
              <mat-error *ngIf="!start_date.valid && start_date.touched">Start Date Required</mat-error>
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="endDate" [min]="minDate" placeholder="End date" formControlName="end_date" required>
              <mat-error *ngIf="!end_date.valid && end_date.touched">End Date Required</mat-error>
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button mat-raised-button [disabled]="!priceListForm.valid" (click)="submit(priceListForm.value)"	 color="warn" type="submit">Submit</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>