
#searchPo{  border-radius: 18px; padding: 5px;border: 1px solid grey;
    outline: none; border-top-right-radius: initial; border-bottom-right-radius: unset;
}

#searchBtn{ color: white; background-color: #e97300;border-style: none;
     font-size: initial; padding: 4px; }

th,tr{ text-align: center; }

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  modal-content{ padding:5%;}

