<div class="alert alert-success" role="alert" [hidden]="isSuccess">
      <strong>Success!</strong> {{successMsg}}
</div> 

<div class="alert alert-danger" role="alert" [hidden]="isError">
    <strong>Warning!</strong> {{errorMsg}}
</div>

<h1 class="page-title"> Configuration</h1>

<section class="widget">
  <header>
    <h4>General</h4> 
  </header>  
  <div class="widget-body pt-4">
    <form class="example-form" [formGroup]="generalSetupForm">
      <div class="col-md-8 col-sm-12 m-auto">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input type="text" matInput formControlName="tax_label" placeholder="Tax Label" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="text" matInput formControlName="tax_number_label" placeholder="Tax Number Label" required>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input type="text" matInput formControlName="tax_number" placeholder="Tax Number" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">                    
              <mat-select placeholder="Warn On Shipping"  formControlName="warn_on_shipping">
                  <mat-option value="true">Warn</mat-option>
                  <mat-option value="false" >Don't Warn</mat-option>
              </mat-select>   
          </mat-form-field>   
          </div>
        </div>
       

        <div class="row">
          <div class="col-12 text-center">
            <button mat-raised-button [disabled]="!generalSetupForm.valid" (click)="submit(generalSetupForm.value)"	 color="warn" type="submit">Submit</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>