<div class="alert alert-success" role="alert" [hidden]="isSuccess">
  <strong>Success!</strong> {{successMsg}}
</div>

<div class="alert alert-danger" role="alert" [hidden]="isError">
  <strong>Warning!</strong> {{errorMsg}}
</div>

<h1 class="page-title">Logistics Service</h1>
<div class="button-row buttonposition">
  <button class="mb10" mat-raised-button color="warn" routerLink="../serviceType">Back</button>
</div>
<section class="widget">
  <header>
    <h4>Add Logistics Service Type</h4>
  </header>
  <div class="widget-body pt-4">
    <form class="example-form" [formGroup]="logisticServiceForm">
      <div class="col-md-8 col-sm-12 m-auto">


        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Logistics Type" formControlName="logistics_type" (change)="logisticType(logistics_type)" required>
                <mat-option *ngFor="let x of logisticTypeArray" [value]="x.logistics_type">{{x.logistics_type}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!logistics_type.valid && logistics_type.touched">Logistics Type Required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input type="text" matInput formControlName="service_type" placeholder="Service Type" [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of serviceTypeArray" [value]="option.service_type">
                  {{option.service_type}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="!service_type.valid && service_type.touched">Service Type Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Service Name" formControlName="service_name" required>
              <mat-error *ngIf="!service_name.valid && service_name.touched">Service Name Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button mat-raised-button [disabled]="!logisticServiceForm.valid" (click)="submit(logisticServiceForm.value)" color="warn"
              type="submit">Submit</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>