<!-- <div class="row navrow">
  <div class="col-9">
    <ul class="nav align-items-baseline">
      <li class="nav-item">
        <a class="nav-link"><i class="fa fa-2x fa-map-marker" aria-hidden="true"></i> Showing Suppliers From :</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">All World</a>
      </li>
      <li class="nav-item disnone">
        <a class="nav-link">India</a>        
      </li>
      <li class="nav-item disnone">
        <a class="nav-link">Kenya</a>
      </li>
      <li class="nav-item disnone">
        <a class="nav-link">USA</a>
      </li>
      <li class="nav-item disnone">
        <a class="nav-link">England</a>        
      </li>
      <li class="nav-item disnone">
        <a class="nav-link">Canada</a>        
      </li>
    </ul>
  </div>
  <div class="col-lg-3 input-group">
    <input type="text" class="form-control" placeholder="Search Country" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lg fa-search"></i></span>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-md-12 col-sm-12 navrow">
    <mat-list>
      <mat-list-item class="align-items-center">
        <h4 mat-line>Related Category</h4>
      </mat-list-item>
      <mat-list-item class="align-items-center">
        <h6 mat-line>Two Door Refridgerator</h6>
      </mat-list-item>
      <mat-list-item class="align-items-center">
        <h6 mat-line>LG Refridgerator</h6>
      </mat-list-item>
      <mat-list-item class="align-items-center">
        <h6 mat-line>Domestic Refridgerator</h6>
      </mat-list-item>
      <mat-list-item class="align-items-center">
        <h6 mat-line>Single Door Refridgerator</h6>
      </mat-list-item>    
      <mat-list-item class="align-items-center">
        <h4 mat-line>Business Type</h4>
      </mat-list-item>
      <mat-list-item class="align-items-center">
        <h6 mat-line>Manufacturer</h6>
      </mat-list-item>
      <mat-list-item class="align-items-center">
        <h6 mat-line>Exporter</h6>
      </mat-list-item>
      <mat-list-item class="align-items-center">
        <h6 mat-line>Wholesaler</h6>
      </mat-list-item>
      <mat-list-item class="align-items-center">
        <h6 mat-line>Retailer</h6>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-lg-10 col-md-12 col-sm-12 ">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12  mt15">
        <mat-card>
          <mat-card-header><h4>Side by Side Refrigrator</h4></mat-card-header>
          <mat-card-content class="d-flex">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="assets/img/Dispatcher.jpg" width="100%" height="300px" alt="Image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="row">
                <p><strong>Brand :</strong>  GE</p>
              </div>
              <div class="row">              
                <p><strong>Capacity :</strong> 874 litres</p>
              </div>
              <div class="row">              
                <p><strong>Star Rating :</strong> 4</p>
              </div>
              <div class="row">
                <p>Available with us is a high quality range of Refrigerators </p>
              </div>
              <div class="row mt-5">              
                <p><strong>Price :</strong> $1250/piece</p>
              </div>
              <div class="row">              
                <p><strong>K.S. Electronics</strong></p>
              </div>
              <div class="row">              
                <p>Kenya</p>
              </div>
            </div>
          </mat-card-content>
         <mat-card-actions class="text-center">
            <button mat-raised-button color="warn">Contact Supplier</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12  mt15">
        <mat-card>
          <mat-card-header><h4>Side by Side Refrigrator</h4></mat-card-header>
          <mat-card-content class="d-flex">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="assets/img/Dispatcher.jpg" width="100%" height="300px" alt="Image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="row">
                <p><strong>Brand :</strong>  GE</p>
              </div>
              <div class="row">              
                <p><strong>Capacity :</strong> 874 litres</p>
              </div>
              <div class="row">              
                <p><strong>Star Rating :</strong> 4</p>
              </div>
              <div class="row">
                <p>Available with us is a high quality range of Refrigerators </p>
              </div>
              <div class="row mt-5">              
                <p><strong>Price :</strong> $1250/piece</p>
              </div>
              <div class="row">              
                <p><strong>K.S. Electronics</strong></p>
              </div>
              <div class="row">              
                <p>Kenya</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button color="warn">Contact Supplier</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12  mt15">
        <mat-card>
          <mat-card-header><h4>Side by Side Refrigrator</h4></mat-card-header>
          <mat-card-content class="d-flex">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="assets/img/Dispatcher.jpg" width="100%" height="300px" alt="Image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="row">
                <p><strong>Brand :</strong>  GE</p>
              </div>
              <div class="row">              
                <p><strong>Capacity :</strong> 874 litres</p>
              </div>
              <div class="row">              
                <p><strong>Star Rating :</strong> 4</p>
              </div>
              <div class="row">
                <p>Available with us is a high quality range of Refrigerators </p>
              </div>
              <div class="row mt-5">              
                <p><strong>Price :</strong> $1250/piece</p>
              </div>
              <div class="row">              
                <p><strong>K.S. Electronics</strong></p>
              </div>
              <div class="row">              
                <p>Kenya</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button color="warn">Contact Supplier</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12  mt15">
        <mat-card>
          <mat-card-header><h4>Side by Side Refrigrator</h4></mat-card-header>
          <mat-card-content class="d-flex">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <img src="assets/img/Dispatcher.jpg" width="100%" height="300px" alt="Image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="row">
                <p><strong>Brand :</strong>  GE</p>
              </div>
              <div class="row">              
                <p><strong>Capacity :</strong> 874 litres</p>
              </div>
              <div class="row">              
                <p><strong>Star Rating :</strong> 4</p>
              </div>
              <div class="row">
                <p>Available with us is a high quality range of Refrigerators </p>
              </div>
              <div class="row mt-5">              
                <p><strong>Price :</strong> $1250/piece</p>
              </div>
              <div class="row">              
                <p><strong>K.S. Electronics</strong></p>
              </div>
              <div class="row">              
                <p>Kenya</p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button color="warn">Contact Supplier</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    
  </div>
</div> -->