.heading{
    font-weight: 800;
    font-size: 17px;
}

.heading::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
}