<h1 class="page-title">Subscription</h1>
<section class="widget" widget>
  <header>
    <h4> Plan & Billing</h4> 
  </header>
  <div class="widget-body row overflow-auto">    
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mt-3">
      <div class="row bordertop">
        <div class="col-12 text-center">          
          <h4>Small Business</h4>
        </div>
        <div class="col-12 text-center">
          <h2>$ 199</h2>
        </div>
        <div class="col-12 text-center">
          <small>per month billed annually</small>
        </div>
         <div class="col-12 text-center colorOrange">
          <h6>(SAVE 20%)</h6>
        </div>
        <div class="col-12 text-center">
          <button class="mb-10 example-full-width my-4" mat-raised-button color="warn" >Downgrade</button>
        </div>
        <div class="col-12 text-center mb-4 colorOrange">
          <small>or $249 per month billed monthly</small>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Orders per Month
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> 500 </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-6 float-left">
          Sales Channel
        </div>
         <div class="col-6 float-right">
           <label class="float-right"> 2 </label>
        </div>
      </div>
       <div class="row border">
        <div class="col-8 float-left">
          Number of Users
        </div>
         <div class="col-4 float-right">
           <label class="float-right"> 5 </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Accounting Integration
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Payments
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-9 float-left">
          B2B eCommerce Platform
        </div>
         <div class="col-3 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          iPhone and iPad App
        </div>
         <div class="col-4 float-right align-self-center">
           <label class="float-right colorOrange">FREE</label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Multi Currency
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Zonal Shipping Rates
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div> 
      <div class="row border">
        <div class="col-8 float-left">
          Warehouse Locations
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> Unlimited </label>
        </div>
      </div> 
      <div class="row border">
        <div class="col-8 float-left">
          Technical Support
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> Email </label>
        </div>
      </div>     
      <div class="row border">
        <div class="col-8 float-left">
          Setup Assistance
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> 2Hours </label>
        </div>
      </div> 
      <div class="row border">
        <div class="col-9 float-left">
          User Rights Management
        </div>
         <div class="col-3 float-right">
          <label class="float-right"> Basic </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-9 float-left">
          Batch & Expiry Tracking
        </div>
         <div class="col-3 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Custom Reports
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Fulfillment By Amazon
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Custom B2B Domains
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Account Manager
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          API access
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Bin Locations
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Salesforce Integration
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-10 float-left">
          Multi-Language Documents
        </div>
         <div class="col-2 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Multiple Brands
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mt-3">
      <div class="row bordertop">
        <div class="col-12 text-center">          
          <h4>Business</h4>
        </div>
        <div class="col-12 text-center">
          <h2>$ 459</h2>
        </div>
        <div class="col-12 text-center">
          <small>per month billed annually</small>
        </div>
         <div class="col-12 text-center colorOrange">
          <h6>(SAVE 20%)</h6>
        </div>
        <div class="col-12 text-center">
          <button class="mb-10 example-full-width my-4" mat-raised-button color="warn" >Re-Activate</button>
        </div>
        <div class="col-12 text-center mb-4 colorOrange">
          <small>or $559 per month billed monthly</small>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Orders per Month
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> 1500 </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-6 float-left">
          Sales Channel
        </div>
         <div class="col-6 float-right">
           <label class="float-right"> 3 </label>
        </div>
      </div>
       <div class="row border">
        <div class="col-8 float-left">
          Number of Users
        </div>
         <div class="col-4 float-right">
           <label class="float-right"> 8 </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Accounting Integration
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Payments
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-9 float-left">
          B2B eCommerce Platform
        </div>
         <div class="col-3 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          iPhone and iPad App
        </div>
         <div class="col-4 float-right align-self-center">
           <label class="float-right colorOrange">FREE</label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Multi Currency
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Zonal Shipping Rates
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div> 
      <div class="row border">
        <div class="col-8 float-left">
          Warehouse Locations
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> Unlimited </label>
        </div>
      </div> 
      <div class="row border">
        <div class="col-8 float-left">
          Technical Support
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> Email </label>
        </div>
      </div>     
      <div class="row border">
        <div class="col-8 float-left">
          Setup Assistance
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> 4Hours </label>
        </div>
      </div> 
      <div class="row border">
        <div class="col-9 float-left">
          User Rights Management
        </div>
         <div class="col-3 float-right">
          <label class="float-right"> Advanced </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-9 float-left">
          Batch & Expiry Tracking
        </div>
         <div class="col-3 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Custom Reports
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Fulfillment By Amazon
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Custom B2B Domains
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Account Manager
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          API access
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Bin Locations
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Salesforce Integration
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-10 float-left">
          Multi-Language Documents
        </div>
         <div class="col-2 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Multiple Brands
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-times float-right"></i>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mt-3">
      <div class="row bordertop">
        <div class="col-12 text-center">          
          <h4>Business Premium</h4>
        </div>
        <div class="col-12 text-center">
          <h2>$ 799</h2>
        </div>
        <div class="col-12 text-center">
          <small>per month billed annually</small>
        </div>
         <div class="col-12 text-center colorOrange">
          <h6>(SAVE 20%)</h6>
        </div>
        <div class="col-12 text-center">
          <button class="mb-10 example-full-width my-4" mat-raised-button color="warn" >Upgrade</button>
        </div>
        <div class="col-12 text-center mb-4 colorOrange">
          <small>or $999 per month billed monthly</small>
        </div>
      </div>
      <div class="row border">
        <div class="col-9 float-left">
          Orders per Month
        </div>
         <div class="col-3 float-right">
          <label class="float-right"> 2500 </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-6 float-left">
          Sales Channel
        </div>
         <div class="col-6 float-right">
           <label class="float-right"> 5 </label>
        </div>
      </div>
       <div class="row border">
        <div class="col-9 float-left">
          Number of Users
        </div>
         <div class="col-3 float-right">
           <label class="float-right"> 15 </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Accounting Integration
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Payments
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-10 float-left">
          B2B eCommerce Platform
        </div>
         <div class="col-2 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          iPhone and iPad App
        </div>
         <div class="col-4 float-right align-self-center">
           <label class="float-right colorOrange">FREE</label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Multi Currency
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Zonal Shipping Rates
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div> 
      <div class="row border">
        <div class="col-8 float-left">
          Warehouse Locations
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> Unlimited </label>
        </div>
      </div> 
      <div class="row border">
        <div class="col-8 float-left">
          Technical Support
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> Email </label>
        </div>
      </div>     
      <div class="row border">
        <div class="col-8 float-left">
          Setup Assistance
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> 8Hours </label>
        </div>
      </div> 
      <div class="row border">
        <div class="col-9 float-left">
          User Rights Management
        </div>
         <div class="col-3 float-right">
          <label class="float-right"> Advanced </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-10 float-left">
          Batch & Expiry Tracking
        </div>
         <div class="col-2 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Custom Reports
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Fulfillment By Amazon
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Custom B2B Domains
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Account Manager
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          API access
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Bin Locations
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Salesforce Integration
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-10 float-left">
          Multi-Language Documents
        </div>
         <div class="col-2 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Multiple Brands
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mt-3">
      <div class="row bordertop">
        <div class="col-12 text-center">          
          <h4>Nicoza Pro</h4>
        </div>
        <div class="col-12 text-center">
          <h2>Ask us</h2>
        </div>
        <div class="col-12 text-center margin-nicozaPlan">
          <button class="mb-10 example-full-width my-4" mat-raised-button color="warn" >Contact Us</button>
        </div>
      </div>
      <div class="row border">
        <div class="col-9 float-left">
          Orders per Month
        </div>
         <div class="col-3 float-right">
          <label class="float-right"> Unlimited </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-6 float-left">
          Sales Channel
        </div>
         <div class="col-6 float-right">
           <label class="float-right"> Unlimited </label>
        </div>
      </div>
       <div class="row border">
        <div class="col-9 float-left">
          Number of Users
        </div>
         <div class="col-3 float-right">
           <label class="float-right"> Unlimited </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Accounting Integration
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-6 float-left">
          Payments
        </div>
         <div class="col-6 float-right align-self-center">
           <label class="float-right"> Custom Rates </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-10 float-left">
          B2B eCommerce Platform
        </div>
         <div class="col-2 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          iPhone and iPad App
        </div>
         <div class="col-4 float-right align-self-center">
           <label class="float-right colorOrange">FREE</label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Multi Currency
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Zonal Shipping Rates
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div> 
      <div class="row border">
        <div class="col-8 float-left">
          Warehouse Locations
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> Unlimited </label>
        </div>
      </div> 
      <div class="row border">
        <div class="col-8 float-left">
          Technical Support
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> 24/7Phone </label>
        </div>
      </div>     
      <div class="row border">
        <div class="col-8 float-left">
          Setup Assistance
        </div>
         <div class="col-4 float-right">
          <label class="float-right"> 8Hours </label>
        </div>
      </div> 
      <div class="row border">
        <div class="col-9 float-left">
          User Rights Management
        </div>
         <div class="col-3 float-right">
          <label class="float-right"> Advanced </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-10 float-left">
          Batch & Expiry Tracking
        </div>
         <div class="col-2 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Custom Reports
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Fulfillment By Amazon
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Custom B2B Domains
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Account Manager
        </div>
         <div class="col-4 float-right align-self-center">
           <label class="float-right"> Dedicated </label>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          API access
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Bin Locations
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Salesforce Integration
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-10 float-left">
          Multi-Language Documents
        </div>
         <div class="col-2 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
      <div class="row border">
        <div class="col-8 float-left">
          Multiple Brands
        </div>
         <div class="col-4 float-right align-self-center">
           <i class="fa fa-check float-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>