<div class="alert alert-success" role="alert" [hidden]="isSuccess">
      <strong>Success!</strong> {{successMsg}}
</div>

<div class="alert alert-danger" role="alert" [hidden]="isError">
    <strong>Warning!</strong> {{errorMsg}}
</div>

<div class="loader-container" *ngIf="isLoading">
    <loaders-css [loader]="'ball-triangle-path'" [loaderClass]="'my-loader'"></loaders-css>
</div>

<section class="widget">
  <header class="mb-1">
    <h4>Subscription of Services</h4>
  </header>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12  mt-3 mx-0" *ngFor="let x of vasArray;let i = index">
        <mat-card class="displayflex">
          <div class="col-lg-2 col-md-2 col-sm-2 p2">
            <img src="https://www.joc.com/sites/default/files/field_feature_image/warehouse%2028.jpg" width="50" height="45">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-5">
            <label>{{x.servicePLan}}</label>
            <div><small>{{x.location}}</small></div>
            <div *ngIf="x.vas.length>0">              
              <div class="mt-3" *ngIf="x.vas['0'].status == 'unsubscribe'"><button mat-raised-button color="warn" (click)="changeService(x)" class="w100">Subscribe</button></div>
              <div class="mt-3" *ngIf="x.vas['0'].status == 'subscribe'"><button mat-raised-button color="primary" (click)="changeService(x)" class="w100 p-0">Unsubscribe</button></div>
            </div>
            <div *ngIf="x.vas.length==0">              
              <div class="mt-3"><button mat-raised-button color="warn" (click)="changeService(x)" class="w100">Subscribe</button></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="float-right">$ {{x.price}}</label>
          </div>
        </mat-card>  
    </div>
    <!-- <div class="col-lg-4 col-md-6 col-sm-12  mt-3 mx-0">
        <mat-card class="displayflex">
          <div class="col-lg-2 col-md-2 col-sm-2 p2">
            <img src="https://www.joc.com/sites/default/files/field_feature_image/warehouse%2028.jpg" width="50" height="45">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-5">
            <label>Sales leads</label>
            <div><small>Buisness</small></div>
            <div class="mt-3"  #sub1><button mat-raised-button color="warn"(click)="showunsubscribe(sub1,unsub1)" class="w100">Subscribe</button></div>
            <div class="mt-3 hide" #unsub1><button mat-raised-button color="warn" (click)="showsubscribe(sub1,unsub1)" class="w100 p-0">Unsubscribe</button></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="float-right">$ 39.99</label>
          </div>
        </mat-card>  
    </div>
      <div class="col-lg-4 col-md-6 col-sm-12  mt-3 mx-0">
        <mat-card class="displayflex">
          <div class="col-lg-2 col-md-2 col-sm-2 p2">
            <img src="https://www.joc.com/sites/default/files/field_feature_image/warehouse%2028.jpg" width="50" height="45">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-5">
            <label>Advertising spots on portal</label>
            <div><small>Website</small></div>
            <div class="mt-3" #sub2><button mat-raised-button color="warn"(click)="showunsubscribe(sub2,unsub2)" class="w100">Subscribe</button></div>
            <div class="mt-3 hide" #unsub2><button mat-raised-button color="warn" (click)="showsubscribe(sub2,unsub2)" class="w100 p-0">Unsubscribe</button></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="float-right">$ 139.99</label>
          </div>
        </mat-card>  
    </div>
      <div class="col-lg-4 col-md-6 col-sm-12  mt-3 mx-0">
        <mat-card class="displayflex">
          <div class="col-lg-2 col-md-2 col-sm-2 p2">
            <img src="https://www.joc.com/sites/default/files/field_feature_image/warehouse%2028.jpg" width="50" height="45">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-5">
            <label>Demand Forecasting Reports</label>
            <div><small>Buisness</small></div>
            <div class="mt-3" #sub3><button mat-raised-button color="warn"(click)="showunsubscribe(sub3,unsub3)" class="w100">Subscribe</button></div>
            <div class="mt-3 hide"  #unsub3><button mat-raised-button color="warn" (click)="showsubscribe(sub3,unsub3)" class="w100 p-0">Unsubscribe</button></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="float-right">$ 49.99</label>
          </div>
        </mat-card>  
    </div>
      <div class="col-lg-4 col-md-6 col-sm-12  mt-3 mx-0">
        <mat-card class="displayflex">
          <div class="col-lg-2 col-md-2 col-sm-2 p2">
            <img src="https://www.joc.com/sites/default/files/field_feature_image/warehouse%2028.jpg" width="50" height="45">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-5">
            <label>Inventory Planning</label>
            <div><small>Inventory</small></div>
            <div class="mt-3" #sub4><button mat-raised-button color="warn"(click)="showunsubscribe(sub4,unsub4)" class="w100">Subscribe</button></div>
            <div class="mt-3  hide" #unsub4><button mat-raised-button color="warn" (click)="showsubscribe(sub4,unsub4)" class="w100 p-0">Unsubscribe</button></div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="float-right">$ 149.99</label>
          </div>
        </mat-card>  
    </div>       -->
  </div>
</section>