.color{
    background: rgb(22, 31, 47);
    color: #fff;
}

.colorsilver{
   color: rgb(22, 31, 47);
}

.heightavailable{
    height: -webkit-stretch;
}

.hide{
    display: none;
}

.p2{
    padding: 2px;
}