<div class="alert alert-success" role="alert" [hidden]="isSuccess">
	<strong>Success!</strong> {{successMsg}}
</div>
<div class="alert alert-danger" role="alert" [hidden]="isError">
	<strong>Warning!</strong> {{errorMsg}}
</div>

<h1 *ngIf="!isbystepper" class="page-title">Quotations</h1>
<div *ngIf="!isbystepper" class="button-row buttonposition">
	<button class="mb10" mat-raised-button color="warn" routerLink="../request-quotation-table">Back</button>
</div>

<section class="widget">
	<header>
		<h4>Request for quotations</h4>
	</header>
	<div class="widget-body pt-4">
		<form class="example-form" [formGroup]="quoutationForm">
			<div class="col-md-8 col-sm-12 m-auto">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select placeholder="Invitation Type" (change)="invitation(txtinvitationType)" formControlName="txtinvitationType" required>
								<mat-option value="Open">Open</mat-option>
								<mat-option value="Closed">Closed</mat-option>
							</mat-select>
							<mat-error *ngIf="!txtinvitationType.valid && txtinvitationType.touched">Invitation Type Required</mat-error>
						</mat-form-field>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select placeholder="Currency" formControlName="txtCurrency" (click)="currency(txtCurrency)" required>
								<mat-option *ngFor="let currency of currencyArray" [value]="currency._id">{{currency.currency_name}}</mat-option>
							</mat-select>
							<mat-error *ngIf="!txtCurrency.valid && txtCurrency.touched">Please First Add Currency </mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="row" *ngIf="invitationType=='Closed'">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select placeholder="Supplier" (change)="selectSupplier(supplier)" formControlName="supplier" required>
								<mat-option *ngFor="let x of sellerManagementArray" [value]="x.optSupplier._id">{{x.optSupplier.company_name}}</mat-option>
							</mat-select>
							<mat-error *ngIf="!supplier.valid && supplier.touched">You Have To Manage Seller First</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select placeholder="Payment Terms" formControlName="txtPaymentTerms" required>
								<mat-option value="E-Payment">E-Payment</mat-option>
								<mat-option value="Escrow">Escrow</mat-option>
								<mat-option value="Credit">Credit</mat-option>
							</mat-select>
							<mat-error *ngIf="!txtPaymentTerms.valid && txtPaymentTerms.touched">Payment Terms Required</mat-error>
						</mat-form-field>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<input matInput [matDatepicker]="txtClosingDate" [min]="minDate" placeholder="Closing Date" formControlName="txtClosingDate"
							 required>
							<mat-datepicker-toggle matSuffix [for]="txtClosingDate"></mat-datepicker-toggle>
							<mat-datepicker #txtClosingDate></mat-datepicker>
							<mat-error *ngIf="!txtClosingDate.valid && txtClosingDate.touched">Closing Date Required</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select placeholder="Delivery Location" formControlName="txtDeliveryLocation" required>
								<mat-option *ngFor="let loc of LocationArray" [value]="loc._id">{{loc.label}}</mat-option>
							</mat-select>
							<mat-error *ngIf="!txtDeliveryLocation.valid && txtDeliveryLocation.touched">Delivery Location Required</mat-error>
						</mat-form-field>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select placeholder="Shipping" formControlName="txtShipping" required>
								<mat-option value="CPT">CPT</mat-option>
								<mat-option value="FOB">FOB</mat-option>
								<mat-option value="CIF">CIF</mat-option>
							</mat-select>
							<mat-error *ngIf="!txtShipping.valid && txtShipping.touched">Shipping Required</mat-error>
						</mat-form-field>
					</div>
				</div>

				<hr>
				<div class="row table-responsive" *ngIf="invitationType=='Open'">
					<table class="table table-striped">
						<thead>
							<th>Product</th>
							<th>Quantity</th>
							<!-- <th>Unit Of Measure</th> -->
							<th>Remove</th>
						</thead>
						<tbody>
							<tr *ngFor="let item of quoutationForm.get('items')['controls']; let i=index" [formGroup]="item">
								<td>
									<mat-form-field>
										<input type="text" matInput formControlName="txtProduct" [matAutocomplete]="auto">
										<mat-error>Product Required</mat-error>
									</mat-form-field>
									<mat-autocomplete #auto="matAutocomplete">
										<mat-option *ngFor="let option of filteredOptions | async" [value]="option.productId.txtProductName">
											{{ option.productId.txtProductName }}
										</mat-option>
									</mat-autocomplete>
								</td>
								<td>
									<mat-form-field>
										<input matInput min="0" (keypress)="keyPress($event)" onpaste="return false;" formControlName="txtOrderQuantity">
										<mat-error>Order Quntity Required</mat-error>
									</mat-form-field>
								</td>
								<!-- <td><mat-form-field><input matInput formControlName="txtUnitOfMeasure"></mat-form-field></td> -->
								<td>
									<button mat-raised-button color="warn" (click)="removeItem(i)">Remove</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<label *ngIf="invitationType=='Open'" class="green" (click)="addItem()">+ Add Another Item</label>


				<div class="row table-responsive" *ngIf="invitationType=='Closed'">
					<table class="table table-striped">
						<thead>
							<th>Product</th>
							<th>Quantity</th>
							<th>Unit Of Measure</th>
						</thead>
						<tbody>
							<tr>
								<td>{{productName}}</td>
								<td>{{quantity}}</td>
								<td>{{unitofMeasure}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<hr>

				<div class="row">
					<div class="col-12 text-center">
						<button mat-raised-button [disabled]="!quoutationForm.valid" (click)="submit(quoutationForm.value)" color="warn" type="submit">Submit</button>
					</div>
				</div>

			</div>
		</form>
	</div>
</section>