<section class="widget" [ngClass]="{'hide':!isHide}">
	<div class="widget-body overflow-auto">
		<button mat-raised-button class="float-right" (click)="showEmailTemplate(clearTemplate)" color="warn">Add New Template</button>
		<div class="mt">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Template Name</th>
						<th>Subject</th>
						<!-- <th>Edit</th> -->
				</thead>
				<tbody>
					<tr *ngFor="let template of templateArray" (click)="showEmailTemplate(template)">
						<td>{{template.txtTemplateName}}</td>
						<td>{{template.txtSubject}}</td>
						<!-- <td>
							<button mat-raised-button class="mb10" color="warn" (click)="modify(template)">Modify</button>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<section class="widget" [ngClass]="{'hide':isHide}">
	<div class="widget-body">
		<div class="col-12">
			<div class="row">
				<div class="col-12">
					<button mat-raised-button class="float-right" (click)="hide()" color="warn">Back</button>
				</div>
			</div>

			<form class="example-form" [formGroup]="templateForm">
				<div class="row">
					<div class="col-lg-4 col-md-8 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select placeholder="Default Template" (change)="selectDefaultTemplate($event)" formControlName="selDefaultTemplate">
								<mat-option *ngFor="let getVal of defaultTemplateArr" [value]="getVal._id">{{getVal.txtTemplateName}}</mat-option>
							</mat-select>

						</mat-form-field>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-lg-4 col-md-8 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select placeholder="Place Holder" (change)="setPlaceHolder($event)" formControlName="selPlaceHolder"  >                  
								<mat-option value="USD">User</mat-option>
								<mat-option value="local">Forgot Password Link</mat-option>
								<mat-option  value="member">Team</mat-option>
							</mat-select>
								 <mat-error *ngIf="!txtCurrency.valid && txtCurrency.touched">Currency Required</mat-error> 
						</mat-form-field>
					</div>
				</div> -->
				<div class="row">
					<div class="col-lg-4 col-md-8 col-sm-12">
						<mat-form-field class="example-full-width">
							<input matInput placeholder="Template Name" formControlName="txtTemplateName" [value]="templateName" required>
							<mat-error *ngIf="!txtTemplateName.valid && txtTemplateName.touched">Template Name Required</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-8 col-sm-12">
						<mat-form-field class="example-full-width">
							<input matInput placeholder="Subject" formControlName="txtSubject" [value]="templateSubject" required>
							<mat-error *ngIf="!txtSubject.valid && txtSubject.touched">Subject Required</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<!-- <textarea  [froalaEditor] cols="12" rows="10" 
						formControlName="txtTemplateText"></textarea> -->
						<!-- <textarea  formControlName="txtTemplateText"></textarea> -->
						<textarea formControlName="txtTemplateText" id="{{elementId}}"></textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-12">
						<mat-slide-toggle>Status</mat-slide-toggle>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<button mat-raised-button *ngIf="!isUpdateButton" class="mb10" color="warn" (click)="submit(templateForm.value)">Save</button>
						<button mat-raised-button *ngIf="isUpdateButton" class="mb10" color="warn" (click)="update(templateForm.value)">Update</button>
						<button mat-raised-button class="mb10" color="warn" type="reset">Reset</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>