<div class="alert alert-success" role="alert" [hidden]="isSuccess">
  <strong>Success!</strong> {{successMsg}}
</div>

<div class="alert alert-danger" role="alert" [hidden]="isError">
<strong>Warning!</strong> {{errorMsg}}
</div>

<div class="loader-container" *ngIf="isLoading">
<loaders-css [loader]="'ball-triangle-path'" [loaderClass]="'my-loader'"></loaders-css>
</div>

<div class="incorrect" *ngIf="setPasswordForm.errors?.notauser">
  <span class="alert alert-danger">
     Something gone wrong
  </span>
</div>
<div class="app flex-row align-items-center pt-10">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <div class="card-group mb-0">
          <div class="card p-2" >
            <div class="card-block">
              <form class="box form-group" [formGroup]="setPasswordForm">
                <h1>Forgot Password</h1>
                
                <div class="input-group mb-2">                  

                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email" formControlName="txtEmail" required> 
                  <mat-error *ngIf="!txtEmail.valid && txtEmail.touched">Email Required</mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button mat-raised-button (click)="submit(setPasswordForm.value)"	 [disabled]="!setPasswordForm.valid" color="warn" type="submit">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

