<div class="alert alert-success" role="alert" [hidden]="isSuccess">
  <strong>Success!</strong> {{successMsg}}
</div>

<div class="alert alert-danger" role="alert" [hidden]="isError">
  <strong>Warning!</strong> {{errorMsg}}
</div>

<div class="loader-container" *ngIf="isLoading">
  <loaders-css [loader]="'ball-triangle-path'" [loaderClass]="'my-loader'"></loaders-css>
</div>

<h1 class="page-title">Logistics</h1>
<div class="button-row buttonposition">
  <button mat-raised-button class="mb10" color="warn" (click)="addWarehouse()">Add Warehouse</button>
</div>
<section class="widget" widget>
  <header>
    <h4> Warehouse</h4>
  </header>
  <div class="widget-body overflow-auto">
    <div class="mt">
      <div class="width-200 float-right">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search">
        </div>
      </div>
      <table class="table table-striped table-hover" [mfData]="warehouseArray  | search : searchText" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
          <tr>
            <th>Country</th>
            <th>Town</th>
            <th>Warehouse</th>
            <th>Service Type</th>
            <th>Status</th>
            <th>
              <mfDefaultSorter by="Priority">Priority</mfDefaultSorter>
            </th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of mf.data">
            <td>{{x.txtCountry}}</td>
            <td>{{x.txtTown}}</td>
            <td>{{x.txtWarehouseName}}</td>
            <td>{{x.serviceType}}</td>
            <td>{{x.statusWareHouse}}</td>
            <td>{{x.txtPriority}}</td>
            <td>
              <button mat-raised-button color="warn" (click)="modify(x)">Modify</button>
            </td>
          </tr>
          <tr *ngIf="mf.data.length === 0">
            <td colspan="100">
              No matches
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25, 50]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>