<!-- <div class="row">
  <div class="row h550">
    <div class="col-lg-3 col-12 my-3">
      <mat-card>
        <img src="assets/img/Dispatcher.jpg" class="back" alt="Fridge" height="100%" width="100%">
      </mat-card>      
    </div>
    <div class="col-lg-9 col-12 my-3 overflow-y-auto back">
      <mat-card>
        <div class="row">
          <div class="col-12">
            <h2>Side by Side Refrigrator</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h5>Price : <strong>$1250/Piece</strong></h5>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12">
            <h5>OG Appliances (Div Of OG & Boyce Mfg. Co. Ltd.)</h5>
            <p class="colorGrey">Delhi, India</p>
          </div>
          <div class="col-lg-6 col-12">
            <div class="row">
              <div class="col-6">
                <p class="colorGrey">Nature of Business:</p>
              </div>
              <div class="col-6">
                <p>Manufacturer</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="colorGrey">Nicoza member since:</p>
              </div>
              <div class="col-6">
                <p>July 2017</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="colorGrey">Delivery Location:</p>
              </div>
              <div class="col-6">
                <p>All Over India</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-12">
            <button mat-raised-button color="warn" class="w-100 my-1">Call Now</button>
          </div>
           <div class="col-lg-4 col-12">
            <button mat-raised-button color="warn" class="w-100 my-1">Ask for Best Price</button>
          </div>
           <div class="col-lg-4 col-12">
            <button mat-raised-button color="warn" class="w-100 my-1">Contact Supplier</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Product Details:<strong></strong></h3>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <h6 class="colorGrey">Door Type:</h6>
              </div>
              <div class="col-6">
                <h6>Double Door</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="colorGrey">Color:</h6>
              </div>
              <div class="col-6">
                <h6>Dark Grey</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="colorGrey">Brand:</h6>
              </div>
              <div class="col-6">
                <h6>OE</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="colorGrey">Net Capacity:</h6>
              </div>
              <div class="col-6">
                <h6>874 litre</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="colorGrey">Dimensions (wxdxh) ) (cm):</h6>
              </div>
              <div class="col-6">
                <h6>68.4 X 76.3 X 169.3</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="colorGrey">Weight:</h6>
              </div>
              <div class="col-6">
                <h6>86 kg</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h6 class="colorGrey">Compressor Warranty:</h6>
              </div>
              <div class="col-6">
                <h6>5 Years</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Specifications<strong></strong></h3>
          </div>
          <div class="col-lg-6 col-12 mb-15">
            <ul>
              <li>Shelf Material: Toughened Glass</li>
              <li>No of shelves: 3</li>
              <li>Interior Light: LED</li>
              <li>Lock: Yes</li>
              <li>Bottom Mounted Freezer: Yes</li>
              <li>JTRT Technology: No</li>
              <li>Motion Sensing zone lighting: No</li>
              <li>Digital touch screen control panel: No</li>
              <li>Airlock technology: No</li>
              <li>Smart collapsible wine rack: No</li>
            </ul>
          </div>
          <div class="col-lg-6 col-12">
            <ul>
              <li>Special fruit tray: No</li>
              <li>Slide and serve door bins: Yes</li>
              <li>Flexi freeze bins: Yes</li>
              <li>Dual Fan: Yes</li>
              <li>Quick Freeze: No</li>
              <li>Turbo Chill: Yes</li>
              <li>Self-diagnostics mode: No</li>
              <li>Twist and serve ice trays: Yes</li>
            </ul>
          </div>
        </div>  
      </mat-card>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-lg-6 col-12 back">
    <div class="row">
      <div class="col-12">
          <h5><b>Fact Sheet</b></h5>
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Year of Establishment</b></h6>
          </div>
          <div class="col-6">
            <h6>1975</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Legal Status of Firm</b></h6>
          </div>
          <div class="col-6">
            <h6>Sole Proprietorship (Individual)</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Nature of Business</b></h6>
          </div>
          <div class="col-6">
            <h6>Manufacturer</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Number of Employees</b></h6>
          </div>
          <div class="col-6">
            <h6>More than 1000 People</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Annual Turnover</b></h6>
          </div>
          <div class="col-6">
            <h6>More than Rs. 500 Crore</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Nicoza Member Since</b></h6>
          </div>
          <div class="col-6">
            <h6>2017</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <h5><b>Statutory Details</b></h5>
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Central Sales Tax Number (CST)</b></h6>
          </div>
          <div class="col-6">
            <h6>27840234324C</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Value Added Tax Registration Number (VAT)</b></h6>
          </div>
          <div class="col-6">
            <h6>27840234324C</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Tax Deduction and Collection Account Number (TAN)</b></h6>
          </div>
          <div class="col-6">
            <h6>MTGG0*****</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Service Tax Number</b></h6>
          </div>
          <div class="col-6">
            <h6>27840234324S</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6 d-flex">
            <mat-icon>toc</mat-icon>
            <h6><b>Permanent Account Number (PAN)</b></h6>
          </div>
          <div class="col-6">
            <h6>278402343PAN</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <h5><b>Contact Us</b></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6><b>OE Appliances (Div Of OE & Boyce Mfg. Co. Ltd.)</b></h6> 
          </div>
        </div>
        <div class="col-12 d-flex">
          <div class="col-6">
            <div class="row">
            <mat-icon>toc</mat-icon>
              <h5><b>A.K. Dutta</b></h5>
            </div>
            <div class="row">
            <mat-icon>toc</mat-icon>
              <h5><b>CALL NOW</b></h5>
            </div>
            <div class="row">
            <mat-icon>toc</mat-icon>
              <h5><b>SEND SMS</b></h5>
            </div>
            <div class="row">
            <mat-icon>toc</mat-icon>
              <h5><b>SEND E-MAIL</b></h5>
            </div>           
          </div>         
          <div class="col-6">
            <div class="row">
              <h6><b>Registered Address</b></h6>
            </div>
            <div class="row">
              <h6>Lajpat Rai Market</h6>
            </div>
            <div class="row">
              <h6>Chandni Chowk</h6>
            </div>
            <div class="row">
              <h6>Delhi-110026, India</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 back">
    <div class="row">
        <h5><b>About Us</b></h5>
    </div>
    <div class="row">
        <h5>OE Appliances (Div of OE & Boyce Manufacturing Company Ltd.) is leading manufacturer of
          OE NXW Refrigerator, OE EDGE Digi Refrigerator, etc.</h5>
    </div>
    <div class="row my-3">
      <div class="col-12 borderContact">
        <header>
          For more details, contact OE Appliances (Div Of OE & Boyce Mfg. Co. Ltd.)
        </header>
        <h5><b>Mobie Number</b></h5>
        <input  type="number" placeholder="Mobile Number">
        <h5><b>Product Name</b></h5>
        <input  type="text" value="OE Refridgerator" disabled>
        <div class="col-12 text-center my-3">
          <button mat-raised-button color="warn">Send Enquiry</button>
        </div>
      </div>
    </div>
  </div>
</div> -->