img {
    width: 100%;
}

span, h1, h2, h3, h4, h5, h6, label, a{
    word-wrap: break-word;
}

.messageposition{
  position: fixed;
  top: 60px;
}

.opacity0{
  opacity: 0 !important;
  transition: all 1s;
}

.opacity1{
  opacity: 1;
  transition: all 1s;
  z-index: 1;
}


header{
  background: transparent!important;
  color: black;
}