<div class="alert alert-success" role="alert" [hidden]="isSuccess">
    <strong>Success!</strong> {{successMsg}}
  </div>
  
  <div class="alert alert-danger" role="alert" [hidden]="isError">
    <strong>Warning!</strong> {{errorMsg}}
  </div>
  
  <h1 class="page-title">Units</h1>
  <div class="button-row buttonposition">
  
    <button mat-raised-button class="mb10" color="warn" routerLink="../warehouse">Add New Warehouse Unit</button>
  </div>
  <section class="widget" widget>
    <header>
      <h4> Warehouse Unit List</h4>
    </header>
    <div class="widget-body overflow-auto">
      <div class="mt">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Units</th>
              <!-- <th>Edit</th> -->
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of industryArray;let i=index;">
              <td>{{i+1}}</td>
              <td>{{x.unit}}</td>
              <!-- <td>
                <button mat-raised-button color="warn" (click)="modify(x)">Modify</button>
              </td> -->
              <td>
                <button mat-raised-button color="warn" (click)="delete(x,i)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>