
.subdata{
    text-align: center;
}
.productItem{
    margin-top: 1em;
    padding: 0;
}


.card{
    background-color: white;
    width: 98%;
}
.toprow{
    padding-left: 2em;
    padding-right: 1em;
}

.productImg{ 
    height: 22em;
    width: 100%;
    border-bottom: none;
}
.productName{
    font-weight: 600;
    font-size: 1.2em !important;
    font-family:  Roboto, Arial, sans-serif;
    letter-spacing: 0;
    font-size: 14px;
    text-transform: capitalize;
}

.productProperties{
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.card:hover img{
    transform: scale(1.01);
    cursor: pointer;
}

.card:hover .productName{
    color: #e97300;
}

.contactBtn{
   background-color:  #0375B4;
   margin-left: 1em;
   border-radius: 0;
   
}

.contactBtn:hover{
    background-color: #e97300;
    border-color: #e97300;
}

.productName:hover{
    cursor: pointer;
}

#subcatproductListing{
     margin-left: 1em;
}
.arrowCat{
    margin-left: 2px;
}
.sellerTraderName{
color: #0375B4;     
}
.productDetails p{
    line-height: 0.8;
}