<h1 class="page-title">Orders</h1>
<div class="button-row buttonposition">
    <button mat-raised-button class="mb10" color="warn" routerLink="../">Back</button>
</div>
<section class="widget">
    <header>
        <h4>Details of Recieving Goods Note</h4>
    </header>
    <div class="widget-body pt-4">
        <form class="example-form" [formGroup]="viewRecievingGoodsNoteDate" (ngSubmit)="submit(viewRecievingGoodsNoteDate.value)">
            <div class="col-md-12 col-sm-12 m-auto">

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Location" formControlName="txtLocation" required>
                                <mat-option value="Kenya">Kenya</mat-option>
                                <mat-option value="India">India</mat-option>
                                <mat-option value="USA">USA</mat-option>
                            </mat-select>
                            <mat-error *ngIf="!txtLocation.valid && txtLocation.touched">Location Required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="delieveredDate" [max]="maxDate" placeholder="Delievered Date" formControlName="txtxDelieveredDate"
                                required>
                            <mat-datepicker-toggle matSuffix [for]="delieveredDate"></mat-datepicker-toggle>
                            <mat-datepicker #delieveredDate></mat-datepicker>
                            <mat-error *ngIf="!txtxDelieveredDate.valid && txtxDelieveredDate.touched">Delievered Date Required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Comments" formControlName="txtComments" required>
                            <mat-error *ngIf="!txtComments.valid && txtComments.touched">Comments Required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Order Date" value="{{orderDate | date}}" disabled>
                        </mat-form-field>
                    </div>
                </div>


                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="orderNumber">order No.</mfDefaultSorter>
                            </th>
                          
                            <th>
                                <mfDefaultSorter by="image">Image</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="productName">Product Name</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="noOfItems">No. of Items</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="QunatityDelievered">Qunatity Delievered</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="UnitPrice">Unit Price</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="total">Total Price</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="unitMeasure">Unit of Measure</mfDefaultSorter>
                            </th>
                            <!-- <th><mfDefaultSorter by="orderDate">Order Date</mfDefaultSorter></th> -->
                            <th>
                                <mfDefaultSorter by="documents">Documents</mfDefaultSorter>
                            </th>

                        </tr>
                    </thead>
                    <tbody id="tblProductData">
                        <tr *ngFor="let item of viewRecievingGoodsNoteDate.get('items')['controls']; let i=index" [formGroup]="item">
                            <td class="align-middle">
                                {{productArray[i]['orderNumber']}}
                            </td>
                            <td class="align-middle">
                                <span *ngFor="let img of productArray[i]['productId']['imageFile']">
                                    <img [src]="img.path" *ngIf="img.isdefault == true" alt="Maggi" width="100" height="100">
                                </span>
                            </td>
                            <td class="align-middle">
                                <input type="hidden" formControlName="hiddenId" value="{{productArray[i]['_id'] }}">{{productArray[i]['productId']['productId']['txtProductName'] }}</td>
                            <td class="align-middle">{{productArray[i]['txtNoOfItems']}}</td>
                            <td class="align-middle">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Quantity Delievered" (blur)="deliverQty($event, i)"
                                        formControlName="qty" value="">
                                </mat-form-field>
                            </td>
                            <td class="align-middle">{{productArray[i].productId.txtCurrency.iso3}} {{productArray[i]['txtUnitPrice']}}</td>
                            <td class="align-middle">{{productArray[i].productId.txtCurrency.iso3}} {{productArray[i]['txtTotalPrice']}}</td>
                            <td class="align-middle">{{productArray[i]['productId']['txtSalesUnitOfMeasure']}}</td>
                            <!-- <td class="align-middle">{{productArray[i]['createdAt'] | date}}</td> -->
                            <td class="align-middle" (click)="download(doc.path)" *ngFor="let doc of productArray[i]['productId']['document']">
                                {{doc.name}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>




                <div class="row mb-3">
                    <div class="col-12">
                        <button type="button" mat-raised-button color="warn" (click)="issueGrn()">Issue GRN</button>
                        <button type="button" mat-raised-button color="warn" (click)="pay()"> Pay </button>
                    </div>
                </div>

                <div class="col-12 text-center">
                    <button [disabled]="!viewRecievingGoodsNoteDate.valid" mat-raised-button color="warn" role="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>