<section class="widget" widget>
  <header>
    <h4> Warehouse PO</h4>
  </header>
  <div class="widget-body overflow-auto">
    <div class="mt table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Customer</th>
            <th>Order&nbsp;No</th>
            <th>Space&nbsp;Required</th>
            <!-- <th>Storage Service Required</th> -->
            <!-- <th>Service Fee</th>  -->
            <th>Storage&nbsp;Location</th>
            <th>Storage&nbsp;Start&nbsp;Date</th>
            <th>Storage&nbsp;End&nbsp;Date</th>
            <th>Accept</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of pendingWarehousePoArray">
            <td>{{x.traderId.company_name}}</td>
            <td>{{x.orderNumber}}</td>
            <td>Available</td>
            <td>{{x.traderId.country_name}}</td>
            <td>{{x.createdAt | date }}</td>
            <td>{{x.updatedAt | date }} </td>
            <td>
              <button mat-raised-button color="warn" (click)="accept(x)">Accept</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [rowsOnPageSet]="[10, 25, 50, 100]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>