<div class="alert alert-success" role="alert" [hidden]="isSuccess">
	<strong>Success!</strong> {{successMsg}}
</div>

<div class="alert alert-danger" role="alert" [hidden]="isError">
	<strong>Warning!</strong> {{errorMsg}}
</div>

<h1 class="page-title">Sub Category</h1>
<div class="button-row buttonposition">
	<button class="mb10" mat-raised-button color="warn" routerLink="../subCategory">Back</button>
</div>
<section class="widget">
	<header>
		<h4>Add New Sub Category</h4>
	</header>
	<div class="widget-body pt-4">
		<form class="example-form" [formGroup]="categoryForm">
			<div class="col-md-8 col-sm-12 m-auto">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select (change)="getCategories(industry)" type="text" matInput [formControl]="industry" placeholder="Industry" required>
								<mat-option *ngFor="let x of industryArray" [value]="x._id">{{x.name}}</mat-option>
							</mat-select>
							<mat-error *ngIf="!industry.valid && industry.touched">industry Required</mat-error>
						</mat-form-field>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<mat-select type="text" matInput [formControl]="category" placeholder="Category" required>
								<mat-option *ngFor="let product of catArray" [value]="product._id">{{product.name}}</mat-option>
							</mat-select>
							<mat-error *ngIf="!category.valid && category.touched">Category Required</mat-error>
						</mat-form-field>
					</div>

				</div>

				<div class="row">

				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<mat-form-field class="example-full-width">
							<input type="text" matInput placeholder="Sub Category" formControlName="subcategory" required>
							<mat-error *ngIf="!subcategory.valid && subcategory.touched">Sub Category Required</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<button mat-raised-button [disabled]="!categoryForm.valid" (click)="submit(categoryForm.value)" color="warn" type="submit">Submit</button>
					</div>
				</div>

			</div>
		</form>
	</div>
</section>