<div class="alert alert-success" role="alert" [hidden]="isSuccess">
      <strong>Success!</strong> {{successMsg}}
</div>

<div class="alert alert-danger" role="alert" [hidden]="isError">
    <strong>Warning!</strong> {{errorMsg}}
</div>

<h1 class="page-title">Price List</h1>
<div class="button-row buttonposition"> 
  <button class="mb10" mat-raised-button color="warn" routerLink="../product-list">Back</button>
</div>
<section class="widget">
  <header>
    <h4>Modify Price List</h4> 
  </header>  
  <div class="widget-body pt-4">
    <form class="example-form" [formGroup]="priceListForm">
      <div class="col-md-8 col-sm-12 m-auto">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">              
              <mat-select type="text" matInput [formControl]="product" placeholder="Product" required> 
                <mat-option *ngFor="let product of productArray" [value]="product.productId._id">{{product.productId.txtProductName}}</mat-option>
              </mat-select>  
              <mat-error *ngIf="!product.valid && product.touched">Product Required</mat-error>
            </mat-form-field>           
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select type="text" matInput [formControl]="customerGroup" placeholder="Customer Group" required> 
                <!-- <mat-option value="Dell">Dell</mat-option>
                <mat-option value="HP">HP</mat-option>
                <mat-option value="Lenovo">Lenovo</mat-option> -->
                <mat-option *ngFor="let customer of customerArray" [value]="customer._id">{{customer.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!customerGroup.valid && customerGroup.touched">Customer Group Required</mat-error>
            </mat-form-field>
          </div>
        </div>
         
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
                <input type="number" matInput min="0" (keypress)="keyPress($event)" onpaste="return false;" placeholder="Price" formControlName="price" required>
                <mat-error *ngIf="!price.valid && price.touched">Price Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Currency" formControlName="currency" required>                  
                <!-- <mat-option value="USD">USD</mat-option>
                <mat-option value="local">Local</mat-option> -->
                <mat-option *ngFor="let currency of currencyArray" [value]="currency._id">{{currency.currency_name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!currency.valid && currency.touched">Currency Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
                <input type="number" matInput min="0" (keypress)="keyPress($event)" onpaste="return false;" placeholder="Quantity Per Unit Price" formControlName="quantity_per_unit" required>
                <mat-error *ngIf="!quantity_per_unit.valid && quantity_per_unit.touched">Quantity Per Unit Price Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="startDate" [min]="minDate" placeholder="Start date" formControlName="start_date" required>
              <mat-error *ngIf="!start_date.valid && start_date.touched">Start Date Required</mat-error>
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="endDate" [min]="minDate" placeholder="End date" formControlName="end_date" required>
              <mat-error *ngIf="!end_date.valid && end_date.touched">End Date Required</mat-error>
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button mat-raised-button  (click)="submit(priceListForm.value)"	 color="warn" type="submit">Submit</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</section>