.action-boxes{
    background-color: white;
  }
.logo-img{
    height: 50px;
    border-radius: 50%;
    float: right;
}

.top-heading{
    font-weight: 300;
    margin: 0
}

.lower-heading{
    font-size: 16px;
    font-weight: 500;
}

.card-header{
    padding: 6px 4px;
}

.card-body{
    background: white;
    font-size: 16px;
    font-family: none;
    line-height: 1.4;
}
.actions{
    margin-bottom: 10px;
}