<div class="alert alert-success" role="alert" [hidden]="isSuccess">
      <strong>Success!</strong> {{successMsg}}
</div>

<div class="alert alert-danger" role="alert" [hidden]="isError">
    <strong>Warning!</strong> {{errorMsg}}
</div>

<div class="loader-container" *ngIf="isLoading">
    <loaders-css [loader]="'ball-triangle-path'" [loaderClass]="'my-loader'"></loaders-css>
</div>

<h1 class="page-title">Logistics</h1>
<div class="button-row buttonposition"> 
  <button class="mb10" mat-raised-button color="warn" routerLink="../transportmanagement">Back</button>
</div>
<section class="widget">
  <header>
    <h4>Modify Transporter</h4> 
  </header>  
  <div class="widget-body pt-4">
    <form class="example-form" [formGroup]="transportForm">
      <div class="col-md-8 col-sm-12 m-auto">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <mat-form-field class="example-full-width">
                  <input type="text"  placeholder="Country" matInput [formControl]="txtCountry" [matAutocomplete]="auto" required>
                  <mat-error *ngIf="!txtCountry.valid && txtCountry.touched">Country Required</mat-error>
              </mat-form-field>
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option (click)="countryChanged(country)" *ngFor="let country of filteredOptions | async" [value]="country.name">
                          {{country.name}}
                  </mat-option>
              </mat-autocomplete>
      
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <mat-form-field class="example-full-width">
                  <input type="text"  placeholder="City" matInput [formControl]="txtTown" [matAutocomplete]="autoc" required>
                  <mat-error *ngIf="!txtTown.valid && txtTown.touched">City Required</mat-error>
              </mat-form-field>
              <mat-autocomplete #autoc="matAutocomplete">
                  <mat-option  *ngFor="let city of filteredCity | async" [value]="city.name">
                          {{city.name}}
                  </mat-option>
              </mat-autocomplete>
          </div>
        </div>
         
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Transporter"  formControlName="txtTransporter" required>
                <mat-option *ngFor="let transport of transportArray" (focusout)="changeTransport(transport)" [value]="transport._id">{{transport.company_name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!txtTransporter.valid && txtTransporter.touched">Transporter Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Priority"  formControlName="txtPriority" required>
                 <mat-option value="1">1 <sup>st</sup> </mat-option>
                <mat-option value="2">2 <sup>nd</sup> </mat-option>
                <mat-option value="3">3 <sup>rd</sup> </mat-option>
                <mat-option value="4">4 <sup>th</sup> </mat-option>
              </mat-select>
              <mat-error *ngIf="!txtPriority.valid && txtPriority.touched">Priority Required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Service Type"  formControlName="serviceType" required>
                <mat-option *ngFor="let x of ServicesCategories;" value="{{x}}">{{x}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!serviceType.valid && serviceType.touched">Service Type Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Service Name"  formControlName="serviceName" required>
                <mat-option *ngFor="let x of serviceNames;" value="{{x}}">{{x}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!serviceName.valid && serviceName.touched">Service Name Required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Share Warehouse Service Details"  formControlName="txtShareWarehouseServiceDetails" required>
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no" >No</mat-option>
              </mat-select>
              <mat-error *ngIf="!txtShareWarehouseServiceDetails.valid && txtShareWarehouseServiceDetails.touched">Share Warehouse Service Details Required</mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Share Consignment Details"  formControlName="txtShareConsignmentDetails" required>
                 <mat-option value="yes">Yes</mat-option>
                <mat-option value="no" >No</mat-option>
              </mat-select>
              <mat-error *ngIf="!txtShareConsignmentDetails.valid && txtShareConsignmentDetails.touched">Share Consignment Details Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button mat-raised-button [disabled]="!transportForm.valid" (click)="submit(transportForm.value)"	 color="warn" type="submit">Submit</button>
          </div>
        </div>

      </div>
    </form>
  </div>